.events {
  position: relative;

}

.events-swiper {
  overflow: hidden;
  max-width: 1624px;
  width: 100%;


}

.card-events {
  max-width: 500px;
  background-color: $white;
  border: 1px solid $gallery;

  &__content {
    padding: 15px 50px 45px;

  }

  &__info {
    margin-bottom: 80px;
  }

  &__info-date {
    display: block;
    max-width: 190px;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 12px;
    color: $dustygray;
  }

  &__info-title {
    margin: 0 0 3px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }

  &__info-text p {
    margin: 0;
    line-height: 32px;
  }

  &__link {
    color: $amethyst;
    border-bottom: 1px solid $amethyst;
  }
}

.events-swiper__prev {
  position: absolute;
  top: 51.5%;
  left: 125px;
  z-index: 999;
  width: 50px;
  height: 50px;
  transition: opacity 0.3s, background-color 0.3s;

  &::before {
    width: 15px;
    height: 9px;
    top: 20px;
    left: 20px;
    transform: rotate(90deg);
  }
}

.events-swiper__next {
  position: absolute;
  top: 51.5%;
  right: 125px;
  z-index: 999;
  width: 50px;
  height: 50px;
  transition: opacity 0.3s, background-color 0.3s;

  &::before {
    width: 15px;
    height: 9px;
    left: 20px;
    top: 20px;
    transform: rotate(-90deg);

  }
}

.swiper-button-disabled {
  opacity: 0;
}
