.hero {
  overflow: hidden;
  position: relative;
  padding: 137px 0 121px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  animation: heroBg 9s linear infinite alternate;
  background-position: center;
  background-size: cover;


  @include r(1024) {
    padding: 111px 0 113px;

  }

  @include r(600) {
    text-align: center;

  }

  @include r(455) {
    padding: 30px 0 45px;

  }


  &__title {
    max-width: 570px;
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;

    @include r(1024) {
      margin: 0 0 7px;
    }

    @include r(600) {
      font-size: 44px;
    }

    @include r(455) {
      margin: 0 auto 11px;
      max-width: 258px;
      font-size: 32px;
      line-height: 39px;
    }

  }

  &__descr {
    margin: 0;
    margin-bottom: 90px;
    max-width: 560px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7;

    @include r(1024) {
      max-width: 670px;
      margin-bottom: 133px;
    }

    @include r(455) {
      max-width: 255px;
      margin: 0 auto 40px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;

    }
  }

  &__link {
    display: inline-block;
    position: relative;
    padding: 21px 32px;
    background-color: $amethyst;
    border-radius: 100px;
    border: 3px solid transparent;
    font-weight: 700;
    font-size: 18px;
    font-weight: 700;
    transition: border 0.2s;
    outline: none;

    @include r(440) {
      padding: 10px 16px;
      font-size: 12px;

    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 106%;
      height: 130%;
      display: block;
      border: 2px solid $heliotrope;
      border-radius: 100px;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:focus::before {
      opacity: 1;
    }

    &:hover {
      &::before {
        opacity: 0;
      }

      border: 3px solid $heliotrope;
    }

    &:active {
      background-color: $royalpurple;

      &::before {
        opacity: 0;
      }
    }
  }

  &__img {
    position: absolute;
    top: 7px;
    left: 0;
    z-index: -1;
    opacity: 0;
    filter: alfa(opacity=0);


    &--first {
      filter: alfa(opacity=1);
      opacity: 1;
    }
  }
}


@keyframes heroBg {
  0% {
    background-image: url('../../images/bg/main-bg1.jpg');

  }

  50% {
    background-image: url('../../images/bg/main-bg2.jpg');
  }

  100% {
    background-image: url('../../images/bg/main-bg23.jpg');
  }
}
