.project {
  padding: 80px 0 80px;

  &__text p {
    margin: 0 0 30px;
    max-width: 1080px;
    line-height: 2;
  }

  &__text-link {
    color: $normal;
  }

  &__partners-title {
    margin: 0 0 23px;
    font-weight: 600;
    font-size: 24px;
  }
}