<section id="catalog" class="catalog">

  <div class="container">
    <h3 class="catalog__title title">
      Каталог
    </h3>
    <div class="catalog__text">
      <p>
        Акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа
        политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и морали. Являясь всего
        лишь частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день
        остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
      </p>
    </div>

    <div class="catalog__wrapper">

      <div class="catalog__author-information catalog__author-information--active">
        <img class="catalog__author-img" src="images/author.jpg" alt="Доменико Гирландайо" width="750" height="470">
        <h4 class="catalog__author-title">Доменико Гирландайо</h4>
        <span class="catalog__author-date">2 июня 1448 — 11 января 1494.</span>
        <div class="catalog__text">
          <p>
            Один из ведущих флорентийских художников Кватроченто, основатель художественной династии,
            которую продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный
            Микеланджело в течение года овладевал профессиональными навыками. Автор фресковых циклов, в
            которых выпукло, со всевозможными подробностями показана домашняя жизнь библейских персонажей (в
            их роли выступают знатные граждане Флоренции в костюмах того времени).
          </p>
        </div>
      </div>

      <div class="catalog__author-information">
        <img class="catalog__author-img" src="images/author2.jpg" alt="Доменико Гирландайо" width="750" height="470">
        <h4 class="catalog__author-title">Что мы о нём знаем?</h4>
        <span class="catalog__author-date"></span>
        <div class="catalog__text catalog__text--mb">
          <p>
            Пока ничего... Зато мы точно знаем, что в галерее есть на что посмотреть!
          </p>
          <a class="inner-link" href="#gallery">В галерею</a>
        </div>
      </div>

      <ul class="accordion-list list-reset">

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">C 1400 по 1499 гг.</button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content">

              <ul class="accordion-list__inner-list list-reset">
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Бенедетто ди Биндо</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Бергоньоне, Амброджо</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Биссоло, Франческо</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Больтраффио, Джованни</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Бонсиньори, Франческо</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Боттичини, Рафаэлло</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Брамантино</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Бреа, Людовико</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Бьяджо д’Антонио Туччи</button>
                </li>
              </ul>

              <ul class="accordion-list__inner-list list-reset">
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Веккьетта</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Андреа Верроккьо</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Доменико Гирландайо</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Беноццо Гоццоли</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Граначчи, Франческо</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Грегорио ди Чекко</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Джованни да Удине</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Джованни ди Паоло</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Джорджоне</button>
                </li>
              </ul>

              <ul class="accordion-list__inner-list list-reset">
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Парентино, Бернардо</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Пезеллино</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Пьетро Перуджино</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Перуцци, Бальдассаре</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Пизанелло</button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset link-ul">Пинтуриккьо</button>
                </li>

              </ul>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">C 1500 по 1599 гг.</button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">

              <div class="accordion-list__inner-list accordion-list__inner-list--flex">

                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">А в галерее вы всегда можете найти что-то интересное для
                    себя
                  </div>
                  <a class="accordion-list__inner-link inner-link" href="#gallery">В галерею</a>
                </div>

              </div>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">C 1600 по 1699 гг.</button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">

              <div class="accordion-list__inner-list accordion-list__inner-list--flex">

                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">А в галерее вы всегда можете найти что-то интересное для
                    себя
                  </div>
                  <a class="accordion-list__inner-link inner-link" href="#gallery">В галерею</a>
                </div>

              </div>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">C 1700 по 1799 гг.</button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">

              <div class="accordion-list__inner-list accordion-list__inner-list--flex">

                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">А в галерее вы всегда можете найти что-то интересное для
                    себя
                  </div>
                  <a class="accordion-list__inner-link inner-link" href="#gallery">В галерею</a>
                </div>

              </div>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">C 1800 по 1899 гг.</button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">

              <div class="accordion-list__inner-list accordion-list__inner-list--flex">

                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">А в галерее вы всегда можете найти что-то интересное для
                    себя
                  </div>
                  <a class="accordion-list__inner-link inner-link" href="#gallery">В галерею</a>
                </div>

              </div>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">C 1900 по 1999 гг.</button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">

              <div class="accordion-list__inner-list accordion-list__inner-list--flex">

                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">А в галерее вы всегда можете найти что-то интересное для
                    себя
                  </div>
                  <a class="accordion-list__inner-link inner-link" href="#gallery">В галерею</a>
                </div>

              </div>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">C 2022 г.</button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">

              <div class="accordion-list__inner-list accordion-list__inner-list--flex">

                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">А в галерее вы всегда можете найти что-то интересное для
                    себя
                  </div>
                  <a class="accordion-list__inner-link inner-link" href="#gallery">В галерею</a>
                </div>

              </div>
            </div>
          </div>
        </li>

      </ul>

    </div>

  </div>

</section>
