<section id="catalog" class="catalog">
  <div class="container">
    <h3 class="catalog__title title">Каталог</h3>
    <p class="catalog__text">
      Акционеры крупнейших компаний, которые представляют собой яркий пример
      континентально-европейского типа политической культуры, будут объявлены
      нарушающими общечеловеческие нормы этики и&nbsp;морали. Являясь всего лишь
      частью общей картины, стремящиеся вытеснить традиционное производство,
      нанотехнологии и&nbsp;по&nbsp;сей день остаются уделом либералов, которые
      жаждут быть функционально разнесены на&nbsp;независимые элементы.
    </p>

    <div class="catalog__wrapper">
      <div class="catalog__author-information catalog__author-information--active" data-target="domenico">
        <picture>
          <source srcset="images/author77.jpg" media="(max-width: 768px)">
          <source srcset="images/authortabl-1.jpg" media="(max-width: 1600px)">
          <img class="catalog__author-img" src="images/author.jpg" alt="Книжная гравюра">
        </picture>
        <h4 class="catalog__author-title">Доменико Гирландайо</h4>
        <span class="catalog__author-date">2 июня 1448 — 11 января 1494.</span>
        <p class="catalog__text">
          Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель
          художественной династии, которую продолжили его брат Давид и&nbsp;сын
          Ридольфо. Глава художественной мастерской, где юный Микеланджело
          в&nbsp;течение года овладевал профессиональными навыками. Автор
          фресковых циклов, в которых выпукло, со&nbsp;всевозможными
          подробностями показана домашняя жизнь библейских персонажей (в
          их&nbsp;роли выступают знатные граждане Флоренции в&nbsp;костюмах того
          времени).
        </p>
      </div>

      <div class="catalog__author-information" data-target="two">
        <picture>
          <source srcset="images/authortabl-1.jpg" media="(max-width: 1600px)">
          <img class="catalog__author-img" src="images/author.jpg" alt="Книжная гравюра">
        </picture>
        <h4 class="catalog__author-title">Что мы о нём знаем?</h4>
        <span class="catalog__author-date"></span>
        <p class="catalog__text catalog__text--mb">
          Пока ничего... Зато мы&nbsp;точно знаем, что в&nbsp;галерее есть
          на&nbsp;что посмотреть!

          <a class="inner-link" href="#gallery">В галерею</a>
        </p>
      </div>

      <ul class="accordion-list list-reset">
        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">
            C 1400 по 1499 гг.
          </button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content">
              <ul class="accordion-list__inner-list list-reset">
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Бенедетто ди Биндо
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Бергоньоне, Амброджо
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Биссоло, Франческо
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Больтраффио, Джованни
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Бонсиньори, Франческо
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Боттичини, Рафаэлло
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Брамантино
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Бреа, Людовико
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Бьяджо д’Антонио Туччи
                  </button>
                </li>
              </ul>

              <ul class="accordion-list__inner-list list-reset">
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Веккьетта
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Андреа Верроккьо
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset accordion-list__inner-btn--active"
                    data-path="domenico">
                    Доменико Гирландайо
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Беноццо Гоццоли
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Граначчи, Франческо
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Грегорио ди Чекко
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Джованни да Удине
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Джованни ди Паоло
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Джорджоне
                  </button>
                </li>
              </ul>

              <ul class="accordion-list__inner-list list-reset">
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Парентино, Бернардо
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Пезеллино
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Пьетро Перуджино
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Перуцци, Бальдассаре
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Пизанелло
                  </button>
                </li>
                <li class="accordion-list__inner__item">
                  <button class="accordion-list__inner-btn btn-reset" data-path="two">
                    Пинтуриккьо
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">
            C 1500 по 1599 гг.
          </button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">
              <div class="accordion-list__inner-list accordion-list__inner-list--flex">
                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">
                    А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то
                    интересное для себя
                  </div>
                  <a class="accordion-list__inner-link inner-link link-ul link-ul" href="#gallery">В галерею</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">
            C 1600 по 1699 гг.
          </button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">
              <div class="accordion-list__inner-list accordion-list__inner-list--flex">
                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">
                    А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то
                    интересное для себя
                  </div>
                  <a class="accordion-list__inner-link inner-link link-ul" href="#gallery">В галерею</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">
            C 1700 по 1799 гг.
          </button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">
              <div class="accordion-list__inner-list accordion-list__inner-list--flex">
                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">
                    А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то
                    интересное для себя
                  </div>
                  <a class="accordion-list__inner-link inner-link link-ul" href="#gallery">В галерею</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">
            C 1800 по 1899 гг.
          </button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">
              <div class="accordion-list__inner-list accordion-list__inner-list--flex">
                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">
                    А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то
                    интересное для себя
                  </div>
                  <a class="accordion-list__inner-link inner-link link-ul" href="#gallery">В галерею</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">
            C 1900 по 1999 гг.
          </button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">
              <div class="accordion-list__inner-list accordion-list__inner-list--flex">
                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">
                    А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то
                    интересное для себя
                  </div>
                  <a class="accordion-list__inner-link inner-link link-ul" href="#gallery">В галерею</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="accordion-list__item accordion">
          <button class="accordion-list__btn btn-reset" type="button">
            C 2022 г.
          </button>
          <div class="accordion-list__content">
            <div class="accordion-list__inner-content accordion-list__inner-content-noflex">
              <div class="accordion-list__inner-list accordion-list__inner-list--flex">
                <div class="accordion-list__inner-img"></div>

                <div class="accordion-list__inner-box">
                  <div class="accordion-list__inner-title">
                    Здесь пока пусто
                  </div>
                  <div class="accordion-list__inner-descr">
                    А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то
                    интересное для себя
                  </div>
                  <a class="accordion-list__inner-link inner-link link-ul" href="#gallery">В галерею</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
