<section id="events" class="events">
  <div class="container">
    <h3 class="events__title title">
      События
    </h3>

    <div class="events-swiper">
      <ul class="events-swiper__wrapper swiper-wrapper list-reset">

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <picture>
              <source srcset="images/events/eventsmob-1.jpg" media="(max-width: 440px)">
              <source srcset="images/events/eventst768-1.jpg" media="(max-width: 768px)">
              <source srcset="images/events/eventstab-1.jpg" media="(max-width: 1024px)">
              <img class="images/events/events1.jpg" src="images/events/events1.jpg" alt="Книжная гравюра">
            </picture>

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Музей им. Щусева<br>
                  <time class="card-events__info-date" datetime="2010-07-26T23:42+03:00">
                    с 20 марта по 30 апреля
                  </time>
                </span>
                <div>

                  <h4 class="card-events__info-title">Книжная гравюра в живом восприятии</h4>
                </div>
                <p class="card-events__info-text">
                  Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую
                  продолжили его брат Давид и сын Ридольфо.
                </p>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <picture>
              <source srcset="images/events/eventsmob-2.jpg" media="(max-width: 440px)">
              <source srcset="images/events/eventst768-2.jpg" media="(max-width: 768px)">
              <source srcset="images/events/eventstab-2.jpg" media="(max-width: 1024px)">
              <img class="images/events/events2.jpg" src="images/events/events2.jpg" alt="Книжная гравюра">
            </picture>

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  ММОМА
                  <time class="card-events__info-date" datetime="2010-07-26T23:42+03:00">
                    24 марта 19:00
                  </time>
                </span>
                <h4 class="card-events__info-title">«Открытая дискуссия». Дмитрий Петров и Сергей Ильин.</h4>
                <p class="card-events__info-text">

                  Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого
                  факта.

                </p>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <picture>
              <source srcset="images/events/eventsmob-3.jpg" media="(max-width: 440px)">
              <source srcset="images/events/eventst768-3.jpg" media="(max-width: 768px)">
              <source srcset="images/events/eventstab-3.jpg" media="(max-width: 1024px)">
              <img class="images/events/events3.jpg" src="images/events/events3.jpg" alt="Книжная гравюра">
            </picture>

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Еврейский музей
                  <time class="card-events__info-date" datetime="2010-07-26T23:42+03:00">
                    с 31 марта по 21 апреля
                  </time>
                </span>
                <h4 class="card-events__info-title">Выставка «Формация 2020»</h4>
                <p class="card-events__info-text">
                  Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в
                  формировании глубокомысленных рассуждений.
                </p>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <picture>
              <source srcset="images/events/eventsmob-4.jpg" media="(max-width: 440px)">
              <source srcset="images/events/eventst768-4.jpg" media="(max-width: 768px)">
              <source srcset="images/events/eventstab-4.jpg" media="(max-width: 1024px)">
              <img class="images/events/events4.jpg" src="images/events/events4.jpg" alt="Книжная гравюра">
            </picture>

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  ММАМ
                  <time class="card-events__info-date" datetime="2010-07-26T23:42+03:00">
                    с 8 апреля по 20 мая
                  </time>
                </span>
                <h4 class="card-events__info-title">Джон Винзор. Фотографии из серии «Метафора серебра»</h4>
                <p class="card-events__info-text">
                  Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую
                  продолжили его брат Давид и сын Ридольфо.
                </p>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <picture>
              <source srcset="images/events/eventsmob-5.jpg" media="(max-width: 440px)">
              <source srcset="images/events/eventst768-5.jpg" media="(max-width: 768px)">
              <source srcset="images/events/eventstab-5.jpg" media="(max-width: 1024px)">
              <img class="images/events/events5.jpg" src="images/events/events5.jpg" alt="Книжная гравюра">
            </picture>

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Третьяковка на Крымском валу
                  <time class="card-events__info-date" datetime="2010-07-26T23:42+03:00">
                    с 30 марта по 30 апреля
                  </time>
                </span>
                <h4 class="card-events__info-title">XXIV Международная биеннале молодого искусства</h4>
                <p class="card-events__info-text">
                  Внезапно, реплицированные с зарубежных источников, современные исследования.
                </p>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

      </ul>

      <div class="slider-btn events-swiper__btn events-swiper__prev">
        <span class="sr-only">кнопка следующий слайд</span>
      </div>

      <div class="slider-btn events-swiper__btn events-swiper__next">
        <span class="sr-only">кнопка следующий слайд</span>
      </div>

      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
