<section class="hero">
    <h1 class="sr-only">Художественная Галерея Blanchard</h1>
    <div class="container">
        <p class="hero__title">Прикоснитесь к прекрасному</p>
        <div class="hero__descr">
            <p>Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт предпосылки для
                новых предложений.</p>
        </div>
        <div>
            <img class="hero__img hero__img--first" src='images/bg/main-bg1.jpg' id="image_1" />
            <img class="hero__img" src='images/bg/main-bg2.jpg' id="image_2" />
            <img class="hero__img" src='images/bg/main-bg23.jpg' id="image_3" />
        </div>
        <a class="hero__link" href="#">Подписаться на рассылку</a>
    </div>
</section>